@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@800&family=Inconsolata&display=swap');
/* gerenal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color:#1e1e1e;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}

.img-size {
 width: 200px;
}

h1, h2, h3 {
  font-family: 'baloo da 2';
  margin: 20px 0 5px 0;
}

p{
  font-family: 'Inconsolata';
  font-size: 1.2rem;
}

/* certifications page*/
.menu-fixed {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
  position: fixed;
  top: 0;
}

#distance {
  margin-top: 90px;
}
.certificate-container{
  max-width: 100%;
  margin-bottom: 5%; 
}
.certificate-imgs {
  max-width: 40%;
}
.certificate-imgsY {
  max-width: 30%;
}

/* certifications page end*/
.logo {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

#logo-text {
  margin: 0 0 0 0;
}

.navegation-list {
  display: none;
}

.border-gradient {
  border-bottom: 2px solid;
  border-image: linear-gradient(120deg, #00bfbc, #00e95e) 1;
}

.list {
  margin-bottom: 40px;
  font-family: 'Inconsolata';
}

.espacamento {
  min-width: 300px;
  padding-left: 10%;
  padding-right: 10%;
}

.secao {
  min-height: 700px;
}
/* end gerenal styles */

/* section first-screen*/
.first-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.img-data {
  min-width: 200px;
  max-width: 30%;
  margin: auto;
  animation: dataAnimation 9000ms linear infinite;
}

@keyframes dataAnimation {
  100% {transform: rotate(360deg);}
}

.informations {
  max-width: 100%;
}

.btn {
  height: 30px;
  min-width: 240px;
  margin: 10%;
  font-family: 'Inconsolata';
  border-radius: 8px;
  border: 2px solid #00e95e;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-image: linear-gradient(120deg, #00bfbc 0%, #00e95e 100%);
  border: 2px solid #00befc;
  color: #f4f4f4;
}

/* section about */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}

#subtittle {
  text-align: start;
}

.about-img {
  min-width: 150px;
  max-width: 15%;
}

/*  section projects */


#project-link-github {
  color: #00e95e;
}

#project-link-github:hover {
  color:#00bfbc;
}

.card-container {
  padding: 20px;
  width: 100%;
  height: 500px;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-padding: 12px;
  scroll-snap-align: start;
  overflow-x: scroll;
  gap: 12px; 
}

.card {
  background-color: #fff;
  flex: 0 0 100%;
  border-radius: 10px;
  padding: 0.5%;
  width: 260px;
  max-width: 280px;
  min-height: 360px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iframecard {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 90%;
  height: 220px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-description {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-card {
  height: 30px;
  width: 100%;
  margin-top: 5%;
  font-family: 'Inconsolata';
  border: 2px solid #00e95e;
  border-radius: 8px;
  background-color: transparent;
}

.btn-card:hover {
  background-image: linear-gradient(120deg, #00bfbc 0%, #00e95e 100%);
  border: 2px solid #00befc;
  color: #f4f4f4;
}

/* section certificate */
.certificates {
  max-width: 100%;
  padding-bottom: 5%;
}

.btn-certification {
  height: 30px;
  min-width: 280px;
  margin: 5%;
  font-family: 'Inconsolata';
  border-radius: 8px;
  border: 2px solid #00e95e;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-certification:hover {
  background-image: linear-gradient(120deg, #00bfbc 0%, #00e95e 100%);
  border: 2px solid #00befc;
  color: #f4f4f4;
}

.certificates-img {
  max-width: 420px;
}

/* section contact */
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact-img {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex;
  align-items: center;
  margin-bottom: 60px;
}

footer p {
  text-align: center;
}

@media (min-width: 576px) {
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .navegation-list {
    width: 50%;
    display: block;
  }
  .navegation-list2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
  }
  .itens {
    margin: 1%;
  }
  .itens a:hover {
    color: #00e95e;
  }
  .itens:hover {
    color: #00e95e;
    cursor: pointer;
  }
  
}

@media (min-width: 992px) {
  .logo {
    display: flex;
    justify-content: space-between;
  }
  #logo-text {
    width: 50%;
  }
  .navegation-list {
    width: 50%;
    display: block;
  }
  .navegation-list2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 12px 0;
  }
  .itens {
    margin: 1%;
  }
  .itens a:hover {
    color: #00e95e;
  }

  h1, h2, h3 {
    font-family: 'baloo da 2';
    margin: 20px 0 5px 0;
    font-size: 35px;
  }

  .img-data {
    max-width: 450px;
    margin: 60px 0 60px 0;
    margin-right: 0;
  }
  .first-screen {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  #tittle {
    font-size: 3.5rem;
    line-height: 90%;
  }

  .btn {
    margin-top: 150px;
    height: 40px;
  }

  .informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    max-height: 100%;
    padding: 0 0 5% 0;
  }
  .informations p {
    margin-top: 20px;
  }
  .about {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-img {
    max-width: 250px;
    margin: 10% 0 10% 10%;
  }
  .informations-about {
    max-width: 50%;
  }

  .card {
    height: 100%;
  }

  .certificate {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .certificates {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .img-size {
    width: 300px;
  }
}